#main {
  text-align: center;
}
 

#main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main h2 {
  color:azure
}

#main h6{
  color: pink
}

#main a {
  color: #61dafb;
}

#main a:hover {
  color: #4eadc7;
}
 
